＊{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  font-family: "google font";
  margin:0;
  padding:0;
  background-color: hsl(240, 2%, 88%);
  color: #333;

}


.banner {
  display:flex;
  background-color: hsl(246, 10%, 19%);
  padding: 0 10%;
  justify-content: space-between;
  gap:  20px;
  flex-wrap:wrap;
}

.banner-text {
  text-align: left;
  transform: translate(5%, 10%);
  
}

.banner-text h1{
   font-size: 50px;
   color: rgb(247, 201, 87);
   margin-bottom: 30px; 
}

.banner-text p{
   font-size: 16px;
   color: rgb(255, 255, 255);
   margin-bottom: 50px;
   
 }



.images-1 {  
 display:flex;
 justify-content: right;
 align-items:end
 
}

.images-1 img {
  width: 100% ;
  max-width: 600px;
  height: auto;
  opacity: 0.8;

  }



.portfolio-section {
  padding: 20px 20px;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.portfolio-section h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom:40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.portfolio-grid img {
  width: 100%;
  max-width: 300px;
  border-radius: 3px;
  transition: transform 0.5s ease;
}

.portfolio-grid img:hover {
  transform: scale(1.2);
}

.footer {
  text-align: center;
  background-color: #3e3e3e;
  color: #fff;
  padding: 50px;
  font-size: 14px;
}